@media screen and (min-width: 600px) {
  .courses {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: auto;
  }

  button {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 900px) {
  .courses {
    grid-template-columns: repeat(3, 1fr);
  }
}


