body {
  font-family: 'Roboto', sans-serif;
  background-color: #f1f1f1;
  color: #333;
  margin: 0;
  text-align: center;
}

header {
  background-color: #1e293b;
  color: white;
  padding: 1.5rem 0;
}

.logo {
  width: 60px;
  height: auto;
  color: #ddd;
}

.controls {
  margin: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

button {
  background-color: #e9775b;
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #cf624a;
}

.summary {
  font-size: 1.2rem;
  margin: 1rem auto;
}

.courses {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 1rem;
}

.course {
  padding: 1rem;
  border-radius: 12px;
  font-weight: 500;
}

.course.completed {
  background-color: #f9f9d2;
  color: #333;
  border: 1px solid #ddd;
}

.course.not-completed {
  background-color: #e9775b;
  color: white;
}

footer {
  background-color: #1e293b;
  color: white;
  padding: 1rem;
  font-size: 0.9rem;
}

